streamlit
python-dotenv
langchain
langchain_community
langchain_openai
langchain_nvidia_ai_endpoints
langchain_anthropic
langchain_mistralai
langchain_deepseek
faiss-cpu
sentence-transformers
pypdf
openai
anthropic
mistralai
deepseek
